{{define "title"}}Topic listing{{end}}

{{define "content"}}
    <a href="/t/new">New topic</a>
	<h1>Topics</h1>
	{{range .Topics}}
		<div>
			<a href="/t/{{.TopicID}}">{{.Title}}</a>
		</div>
	{{end}}
{{end}}
