<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/static/codemirror/lib/codemirror.js"></script>
    <script src="/static/codemirror/keymap/vim.js"></script>
    <script src="/static/codemirror/mode/markdown/markdown.js"></script>
    <script>
window.onload = function () {
    var editor = CodeMirror(document.getElementById("editor"), {
        value: "{{.Content}}",
        mode:  "markdown",
        keyMap: "vim",
        theme: "near"
    });
};
    </script>
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/codemirror/theme/neat.css">
  </head>
  <body>
    <div id="editor"></div>
  </body>
</html>
