body {
    background: #eee;
    font-family: Verdana, Geneva, sans-serif;
}

* {
	box-sizing: border-box;
}

a, .link {
    cursor: pointer;
    color: #7747A7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:hover, .link:hover {
    color: #BF0081;
}

.box {
	margin: 10px 20px;
}

.box .actions {
	text-align: right;
	color: #ccc;
    margin-bottom: 10px;
}

.box .actions * {
    padding: 0 5px;
}

.box .actions a {
	text-decoration: none;
}

.box .content {
    box-shadow: 0 0 10px 3px #B5B5B5;
	background: #fff;
	padding: 10px;
}

.box .content .unote-input {
    width: 100%;
    min-height: 200px;
    border: 1px solid #eee;
    border-radius: 0;
    resize: none;
    padding: 10px;
}
.box .content .unote-input-actions {
    text-align: right;
    margin-top: 20px;
}
.box .content .unote-input-actions * {
    margin-left: 20px;
}

.box .content .listing {
}

.box .content .listing .entry {
    padding: 10px 5px;
}
